:root {
    --secondary: #120b4e;
    --text: white;
    --highlight: #bd711a;
}

body {
    background-image: url(photos/tramstation.jpg);
    background-repeat: none;
    background-size: cover;
}

#credits {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    text-shadow: var(--secondary) 0.5vw 0 2vw;
    font-size: 10px;
    right: 5px;
    bottom: 5px;
    position: absolute;
}

#title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    width: 30vw;
    position: absolute;
    color: var(--text);
    text-shadow: var(--secondary) 0.5vw 0 2vw;
    display: block;
    text-align: right;
    top: 2vh;
    right: 2vw;
}

.desc {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    width: fit-content;
    position: relative;
    color: var(--text);
    text-shadow: var(--secondary) 0.5vw 0 2vw;
    display:block;
    text-align: center;
    margin: auto;
}

#exploreoptions {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: auto;
    width: 100%;
    position: relative;
}

#explore {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 1vw;
    width: fit-content;
    color: var(--text);
    border: 2px solid var(--text);
    border-radius: 5px;
    background-color: transparent;
    display: block;
    padding: 10px;
    position: relative;
    transition-duration: 0.5s;
    text-align: center;
    margin: auto;
}

#explore:hover {
    background-color: var(--text);
    color: var(--highlight);
    box-shadow: var(--secondary) 0.5vw 0 2vw;
}

#content {
    position: relative;
    top: 60vh;
    margin: auto;
    justify-content: center;
}